USE [ERPortal]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[JobTitle] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditTrails]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditTrails](
	[Id] [nvarchar](128) NOT NULL,
	[ERApplicationId] [nvarchar](max) NULL,
	[FileRefId] [nvarchar](max) NULL,
	[StatusId] [nvarchar](max) NULL,
	[QueryDetailsId] [nvarchar](max) NULL,
	[SenderId] [nvarchar](128) NULL,
	[ReceiverId] [nvarchar](128) NULL,
	[Is_Active] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.AuditTrails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [nvarchar](128) NOT NULL,
	[UserAccountId] [nvarchar](128) NOT NULL,
	[ERApplicationId] [nvarchar](128) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentTypes]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentTypes](
	[Id] [nvarchar](128) NOT NULL,
	[DeptName] [nvarchar](max) NULL,
	[SubDeptName] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.DepartmentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERAppActiveUsers]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERAppActiveUsers](
	[Id] [nvarchar](128) NOT NULL,
	[ERApplicationId] [nvarchar](max) NULL,
	[UserAccountId] [nvarchar](128) NOT NULL,
	[Dept_Id] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.ERAppActiveUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERApplications]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERApplications](
	[Id] [nvarchar](128) NOT NULL,
	[OrganisationId] [nvarchar](128) NOT NULL,
	[FieldTypeId] [nvarchar](128) NOT NULL,
	[FieldName] [nvarchar](max) NOT NULL,
	[DateOfDiscovery] [datetime] NOT NULL,
	[DateOfInitialCommercialProduction] [datetime] NULL,
	[DateOfLastCommercialProduction] [datetime] NULL,
	[PresentlyUnderProduction] [int] NOT NULL,
	[ERScreeningDetailId] [nvarchar](128) NULL,
	[FieldOIIP] [int] NULL,
	[FieldGIIP] [int] NULL,
	[AdditonalRemarks] [nvarchar](max) NULL,
	[SubmissionDate] [datetime] NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[HydrocarbonType] [int] NOT NULL,
	[UHCProductionMethodId] [nvarchar](128) NULL,
	[ImplementaionType] [int] NOT NULL,
	[AppId] [nvarchar](max) NULL,
	[HydrocarbonMethod] [int] NOT NULL,
	[ERPilotId] [nvarchar](128) NULL,
	[Is_Active] [bit] NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[ERTechniquesId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ERApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPilots]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPilots](
	[Id] [nvarchar](128) NOT NULL,
	[PilotDesign] [int] NOT NULL,
	[PilotMandatory] [int] NULL,
	[TechnicallyCompatible] [int] NOT NULL,
	[PilotEconomicViability] [int] NOT NULL,
	[PilotNPV] [int] NULL,
	[PilotIRR] [int] NULL,
	[PilotStartDate] [datetime] NULL,
	[PilotEndDate] [datetime] NULL,
	[FullFillEconomicViability] [int] NULL,
	[FullFillNPV] [int] NULL,
	[FullFillIRR] [int] NULL,
	[FullFillStartDate] [datetime] NULL,
	[FullFillEndDate] [datetime] NULL,
	[EligibleForFiscalIncentive] [int] NULL,
	[Is_Active] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.ERPilots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogs]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogs](
	[Id] [nvarchar](128) NOT NULL,
	[ERApplicationId] [nvarchar](max) NULL,
	[PageUrl] [nvarchar](max) NULL,
	[ErrorText] [nvarchar](max) NULL,
	[UserAccountId] [nvarchar](128) NULL,
	[Is_Active] [bit] NOT NULL,
	[ErrorStatus] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.ErrorLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERScreeningDetails]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERScreeningDetails](
	[Id] [nvarchar](128) NOT NULL,
	[ERScreeningInstituteId] [nvarchar](128) NOT NULL,
	[ReportDocumentPath] [nvarchar](max) NULL,
	[FirstOrderScreening] [int] NOT NULL,
	[SecondOrderScreening] [int] NOT NULL,
	[ThirdOrderScreening] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[FirstOrderScrText] [nvarchar](max) NULL,
	[SecondOrderScrText] [nvarchar](max) NULL,
	[ThirdOrderScrText] [nvarchar](max) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ERScreeningDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERScreeningInstitutes]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERScreeningInstitutes](
	[Id] [nvarchar](128) NOT NULL,
	[InstituteName] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ERScreeningInstitutes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERTechniques]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERTechniques](
	[Id] [nvarchar](128) NOT NULL,
	[Method] [int] NOT NULL,
	[TechniqueType] [nvarchar](max) NOT NULL,
	[TechniqueName] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.ERTechniques] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldTypes]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldTypes](
	[Id] [nvarchar](128) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.FieldTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForwardApplications]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForwardApplications](
	[Id] [nvarchar](128) NOT NULL,
	[ERApplicationId] [nvarchar](128) NOT NULL,
	[Sender] [nvarchar](max) NULL,
	[Reciever] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[CommentRefId] [nvarchar](max) NULL,
	[FileRef] [nvarchar](max) NULL,
	[FileStatus] [int] NOT NULL,
	[Is_active] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.ForwardApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [nvarchar](128) NOT NULL,
	[UserAccountId] [nvarchar](128) NOT NULL,
	[ERApplicationId] [nvarchar](128) NULL,
	[Text] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisations]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisations](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Organisations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueryDetails]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueryDetails](
	[Id] [nvarchar](128) NOT NULL,
	[QuerySeq] [int] NOT NULL,
	[FileRefId] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[CommentRefId] [nvarchar](max) NULL,
	[QueryParentId] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[ERApplicationId] [nvarchar](max) NULL,
	[CustQueryId] [nvarchar](max) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.QueryDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueryMasters]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueryMasters](
	[Id] [nvarchar](128) NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ERApplicationId] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[QueryParentId] [nvarchar](max) NULL,
	[CustQueryId] [nvarchar](max) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.QueryMasters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueryUsers]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueryUsers](
	[Id] [nvarchar](128) NOT NULL,
	[SenderId] [nvarchar](max) NULL,
	[RecieverId] [nvarchar](max) NULL,
	[QueryId] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.QueryUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusMasters]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusMasters](
	[Id] [nvarchar](128) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Is_Active] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[CustStatusId] [nvarchar](max) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.StatusMasters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UHCProductionMethods]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UHCProductionMethods](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UHCProductionMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadFiles]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadFiles](
	[Id] [nvarchar](128) NOT NULL,
	[FIleRef] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[FilePath] [nvarchar](max) NULL,
	[NewFileName] [nvarchar](max) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UploadFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 7/11/2020 12:16:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[Id] [nvarchar](128) NOT NULL,
	[EmailID] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[OrganisationId] [nvarchar](128) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UserRole] [nvarchar](max) NULL,
	[DeptId] [nvarchar](128) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0916dab3-a11d-48da-838e-82e02cd938ff', N'Director')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'247c25fb-9d9d-4966-8099-0d165ee72556', N'ADG')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2597ac24-e567-43a8-84be-c8b2bfdc86ee', N'Coordinator')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2b5b6fc6-c92b-4afa-9f50-90c76df6f605', N'407c32d0-c9fc-4710-b89e-9b75406a4c60')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3de966e8-e54a-49df-952d-41c64e9aa505', N'cb91f3ff-819c-48d5-9ec6-b1af87a6f655')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'79d36124-ea8d-433b-8b6f-77045ea69309', N'cb91f3ff-819c-48d5-9ec6-b1af87a6f655')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [JobTitle], [FullName]) VALUES (N'2b5b6fc6-c92b-4afa-9f50-90c76df6f605', N'am@dgh.com', 0, N'AKZUGJARbsFI87YnNlPChItRJhZ1YSHjBYmXj1G9Tj3O8EkFQPNbSmzTmumcu5xknA==', N'5f775460-1d7a-4a4e-a4ba-319d6ed821d1', NULL, 0, 0, NULL, 1, 0, N'am@dgh.com', NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [JobTitle], [FullName]) VALUES (N'3de966e8-e54a-49df-952d-41c64e9aa505', N'On@gmail.com', 0, N'AJKyxx3CC9EYj7qTqT2FKaj359V00W12Uo2ZFxds1X60Zk885b0/lqqvmG+AsklgyQ==', N'732e5aa3-0ae1-477d-9c79-9778d735af56', NULL, 0, 0, NULL, 1, 0, N'On@gmail.com', NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [JobTitle], [FullName]) VALUES (N'79d36124-ea8d-433b-8b6f-77045ea69309', N'vaibhav111@gmail.com', 0, N'AN53p0sE09f1GEjGmNCaSgQvExnDYRW50e3Q4eLzWtJ5qArV+35QlwjTszBaTwHHag==', N'5e429d21-074d-44b5-902a-d7b25d7aeeb2', NULL, 0, 0, NULL, 1, 0, N'vaibhav111@gmail.com', NULL, NULL)
GO
INSERT [dbo].[AuditTrails] ([Id], [ERApplicationId], [FileRefId], [StatusId], [QueryDetailsId], [SenderId], [ReceiverId], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'0076cbb1-f9be-4984-9784-6c7dab8700f0', N'30fabcb4-3e1d-4f92-9d54-ef05f8a20f25', N'dd188ca0-3eb3-4bc1-aea4-96869c110436', N'S106', NULL, N'aaf04b39-83b4-4870-84bb-20d2acac2e87', N'a375453f-1e2a-4506-99ed-72d015e77c56', 1, CAST(N'2020-03-03T20:59:26.9348665-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[AuditTrails] ([Id], [ERApplicationId], [FileRefId], [StatusId], [QueryDetailsId], [SenderId], [ReceiverId], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'028b295f-0436-411d-a0bd-41473779595b', N'd501a6d8-6b4f-4ca2-85e8-b6119c4e7e37', N'639fb579-2c74-4300-bc52-1984d8a18d40', N'S105', NULL, N'f5f191f0-a8c8-42dc-92f9-62c852f5d2d9', N'aaf04b39-83b4-4870-84bb-20d2acac2e87', 1, CAST(N'2020-02-21T01:03:04.2127122-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[AuditTrails] ([Id], [ERApplicationId], [FileRefId], [StatusId], [QueryDetailsId], [SenderId], [ReceiverId], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'08900c3a-3ab4-4c18-a305-d09a939dff0f', N'886fec87-40fe-4c06-8976-1b75cc37e20c', N'c616ceb5-6538-4d82-b206-a8abf5ea58a8', N'S105', NULL, N'a375453f-1e2a-4506-99ed-72d015e77c56', N'aaf04b39-83b4-4870-84bb-20d2acac2e87', 1, CAST(N'2020-03-04T03:18:53.8014835-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[Comments] ([Id], [UserAccountId], [ERApplicationId], [Text], [CreatedAt], [Subject], [ModifiedAt], [Is_Active]) VALUES (N'0236582f-a01b-4440-97db-54b139c1bb85', N'aaf04b39-83b4-4870-84bb-20d2acac2e87', N'06aa21db-f5aa-4efb-ac55-94cf784fa6f0', N'dsfasfasf', CAST(N'2020-02-23T22:26:03.6348115-08:00' AS DateTimeOffset), NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
INSERT [dbo].[Comments] ([Id], [UserAccountId], [ERApplicationId], [Text], [CreatedAt], [Subject], [ModifiedAt], [Is_Active]) VALUES (N'03fac08f-006e-4dfa-95fd-f8afec1fbdb4', N'a375453f-1e2a-4506-99ed-72d015e77c56', N'886fec87-40fe-4c06-8976-1b75cc37e20c', N'hsdg', CAST(N'2020-03-04T03:18:53.7994842-08:00' AS DateTimeOffset), NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
GO
INSERT [dbo].[DepartmentTypes] ([Id], [DeptName], [SubDeptName], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'02841bef-3fa9-4bee-a775-f5e9efabe2e4', N'PSE', NULL, 1, CAST(N'2020-02-17T21:37:49.5661660-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[DepartmentTypes] ([Id], [DeptName], [SubDeptName], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'571319df-3023-42b8-8f71-6ff86c9c391f', N'PF', NULL, 1, CAST(N'2020-02-14T01:13:14.7642554-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[DepartmentTypes] ([Id], [DeptName], [SubDeptName], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'5fbbc059-d8b1-4a91-8465-b704902ec6f9', N'Resovoir', NULL, 1, CAST(N'2020-02-14T01:13:35.8008385-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[ERAppActiveUsers] ([Id], [ERApplicationId], [UserAccountId], [Dept_Id], [Is_Active], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'03ae7d03-f54b-4e0d-bfe6-7b48885657c5', N'30fabcb4-3e1d-4f92-9d54-ef05f8a20f25', N'3de966e8-e54a-49df-952d-41c64e9aa505', NULL, 1, NULL, CAST(N'2020-02-26T22:45:13.9704373-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[ERAppActiveUsers] ([Id], [ERApplicationId], [UserAccountId], [Dept_Id], [Is_Active], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'062c9056-5c9b-431e-b15f-3e8efd50f7c9', N'1e95defc-d1d3-40fc-ad1d-0ffcccb43b5f', N'f6dfa4ae-91ac-444f-8b57-28a9c7c744bb', NULL, 1, NULL, CAST(N'2020-02-25T02:25:49.0385551-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[ERAppActiveUsers] ([Id], [ERApplicationId], [UserAccountId], [Dept_Id], [Is_Active], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'0c639545-1468-4110-8915-5b6388f5e128', N'06aa21db-f5aa-4efb-ac55-94cf784fa6f0', N'f5f191f0-a8c8-42dc-92f9-62c852f5d2d9', NULL, 1, NULL, CAST(N'2020-02-23T22:26:03.6368099-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[ERScreeningDetails] ([Id], [ERScreeningInstituteId], [ReportDocumentPath], [FirstOrderScreening], [SecondOrderScreening], [ThirdOrderScreening], [CreatedAt], [FirstOrderScrText], [SecondOrderScrText], [ThirdOrderScrText], [ModifiedAt], [Is_Active]) VALUES (N'02103edf-102b-41c8-9a98-83db89c6366a', N'ecd6f82f-3f7c-48c2-8886-c6d89cee92a1', N'c367bb3c-5b83-4c36-b7ea-c5bd15af0fc7', 1, 1, 0, CAST(N'2020-02-24T21:00:09.5078022-08:00' AS DateTimeOffset), NULL, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
INSERT [dbo].[ERScreeningDetails] ([Id], [ERScreeningInstituteId], [ReportDocumentPath], [FirstOrderScreening], [SecondOrderScreening], [ThirdOrderScreening], [CreatedAt], [FirstOrderScrText], [SecondOrderScrText], [ThirdOrderScrText], [ModifiedAt], [Is_Active]) VALUES (N'0ce88304-2fe7-4a00-ae85-498721e6c6ab', N'e51aaaaa-5d23-4b2f-bbca-d0eb410aa552', N'99823e37-021e-4491-9b05-bb8e762d1e61', 1, 0, 1, CAST(N'2020-02-20T21:34:25.9175671-08:00' AS DateTimeOffset), NULL, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
INSERT [dbo].[ERScreeningDetails] ([Id], [ERScreeningInstituteId], [ReportDocumentPath], [FirstOrderScreening], [SecondOrderScreening], [ThirdOrderScreening], [CreatedAt], [FirstOrderScrText], [SecondOrderScrText], [ThirdOrderScrText], [ModifiedAt], [Is_Active]) VALUES (N'246dabf8-ebd3-4c6a-a061-00a148d70360', N'ef23c672-fb6e-4e1d-aae3-4de3a6c42a7b', N'7824dc0d-d78d-4a10-a05f-af4ccd56dc9d', 1, 1, 0, CAST(N'2020-03-16T00:02:11.5240610-07:00' AS DateTimeOffset), NULL, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
GO
INSERT [dbo].[ERScreeningInstitutes] ([Id], [InstituteName], [ContactPerson], [Address], [EmailID], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'a7e69b63-0f68-4e44-a2af-8c3817b96343', N'IIT Kharagpur', N'Director- Department of Mining Engineering,liT Kharagpur', N'Department of Mining Engineering Indian Institute of Technology,  Kharagpur - 721 302', N'ggkarmakar@gmail.com', CAST(N'2020-02-26T21:36:37.6958432-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[ERScreeningInstitutes] ([Id], [InstituteName], [ContactPerson], [Address], [EmailID], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'be70e564-4dce-4739-a8a4-64424532b7a5', N'Pt. Deendayal Petroleum University (PDPU)', N'Director-  School of Petroleum Technology,Gandhinagar', N'Director & Professor,  Petroleum Engineering,School of Petroleum Technology,  PDPU, Raisan, Gandhinagar- 382 007, Gujarat', N'Anirbid.Sircar@sl2t.gdgu.ac.in', CAST(N'2020-02-26T21:38:53.9376533-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[ERScreeningInstitutes] ([Id], [InstituteName], [ContactPerson], [Address], [EmailID], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'e51aaaaa-5d23-4b2f-bbca-d0eb410aa552', N'IIT ISM Dhanbad', N'Director - Department of Petroleum Engineering', N'Department of Petroleum Engineering,  Indian Institute of Technology, Indian School of Mines, Dhanbad, Jharkand - Petroleum 826004', N'sumitmukho12aad.hotmail.com', CAST(N'2020-01-30T21:08:55.8455808-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
GO
INSERT [dbo].[ERTechniques] ([Id], [Method], [TechniqueType], [TechniqueName], [Status], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'00658ff1-793e-4550-83f4-0a2052c44bae', 0, N'Miscible Gas Flooding/Injection', N'Hydrocarbon Gas Injection', NULL, 1, CAST(N'2020-03-26T02:52:15.0000000+05:30' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[ERTechniques] ([Id], [Method], [TechniqueType], [TechniqueName], [Status], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'019f82fb-bdb4-4eab-bf5d-0d73d5743960', 2, N'De-Watering Techniques', N'De-Watering Techniques', NULL, 1, CAST(N'2020-03-26T02:46:02.0000000+05:30' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[ERTechniques] ([Id], [Method], [TechniqueType], [TechniqueName], [Status], [Is_Active], [CreatedAt], [ModifiedAt]) VALUES (N'0639075c-7f99-45e8-aff0-5b3ba8f46f60', 0, N'Thermal', N'Hot Water Injection', NULL, 1, CAST(N'2020-03-26T02:39:09.0000000+05:30' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[FieldTypes] ([Id], [Type], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'bbfa4495-9e8a-4b05-a831-5714b93d6c27', N'Nomination Regime', CAST(N'2020-01-24T03:00:06.6733012-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[FieldTypes] ([Id], [Type], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'e556caca-1c7a-4681-b898-62214400b3c8', N'Contractual Regime', CAST(N'2020-01-24T03:00:10.5089559-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
GO
INSERT [dbo].[ForwardApplications] ([Id], [ERApplicationId], [Sender], [Reciever], [Subject], [CommentRefId], [FileRef], [FileStatus], [Is_active], [CreatedAt], [ModifiedAt]) VALUES (N'023cad6b-a18e-418c-8482-4880a5fdc53b', N'06aa21db-f5aa-4efb-ac55-94cf784fa6f0', N'2b5b6fc6-c92b-4afa-9f50-90c76df6f605', N'79d36124-ea8d-433b-8b6f-77045ea69309', NULL, N'23d9ab83-ab49-4fa9-9f36-3e35dfcc5533', N'ff985071-400f-4c78-b64d-55f2b426b446', 4, 1, CAST(N'2020-02-24T01:18:11.7889079-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[ForwardApplications] ([Id], [ERApplicationId], [Sender], [Reciever], [Subject], [CommentRefId], [FileRef], [FileStatus], [Is_active], [CreatedAt], [ModifiedAt]) VALUES (N'04c16253-50cd-4506-a4df-72f40b34d35c', N'30fabcb4-3e1d-4f92-9d54-ef05f8a20f25', N'2b5b6fc6-c92b-4afa-9f50-90c76df6f605', N'aaf04b39-83b4-4870-84bb-20d2acac2e87', NULL, N'd68bdfd3-89f4-493b-8ef8-ab20ddc301a5', N'68ac897d-d3f5-4d54-9c34-71eab3bc58b6', 0, 1, CAST(N'2020-03-03T20:53:37.6576666-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[ForwardApplications] ([Id], [ERApplicationId], [Sender], [Reciever], [Subject], [CommentRefId], [FileRef], [FileStatus], [Is_active], [CreatedAt], [ModifiedAt]) VALUES (N'0b0bb9ad-7ccf-4532-8c07-91b5d2151f8e', N'886fec87-40fe-4c06-8976-1b75cc37e20c', N'2b5b6fc6-c92b-4afa-9f50-90c76df6f605', N'aaf04b39-83b4-4870-84bb-20d2acac2e87', NULL, N'ee70a4de-bf8f-408a-9d3a-6390f7eb7205', N'6b493686-e24a-4efb-a03a-0c88640d2c50', 0, 1, CAST(N'2020-02-27T02:06:56.4994842-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[Organisations] ([Id], [Name], [Type], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'9d5f06c2-73c2-4b41-a4c0-e87830673aca', N'OIDB', 0, CAST(N'2020-01-24T02:12:53.4430889-08:00' AS DateTimeOffset), CAST(N'2020-07-09T03:38:42.4807527-07:00' AS DateTimeOffset), 1)
INSERT [dbo].[Organisations] ([Id], [Name], [Type], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'cd9a6a36-cd90-4d09-8bb5-b449d315cc9d', N'ONGC', 1, CAST(N'2020-01-24T02:55:21.1401952-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
GO
INSERT [dbo].[StatusMasters] ([Id], [Status], [Is_Active], [CreatedAt], [CustStatusId], [ModifiedAt]) VALUES (N'14e8e42d-aa81-4e91-876a-95651048f6d6', N'Application Submitted', 1, CAST(N'2020-01-26T21:42:41.8646466-08:00' AS DateTimeOffset), N'S101', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[StatusMasters] ([Id], [Status], [Is_Active], [CreatedAt], [CustStatusId], [ModifiedAt]) VALUES (N'34fcb2d5-14d2-4fc2-9db8-a71dcbd6ffc8', N'Application Forward', 1, CAST(N'2020-01-26T23:10:58.5171713-08:00' AS DateTimeOffset), N'S102', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[StatusMasters] ([Id], [Status], [Is_Active], [CreatedAt], [CustStatusId], [ModifiedAt]) VALUES (N'3ce5384b-8261-4371-b943-0723e19cc49c', N'Query Rejected', 1, CAST(N'2020-02-17T22:13:15.1475021-08:00' AS DateTimeOffset), N'S103', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[UHCProductionMethods] ([Id], [Name], [Description], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'0109ace0-c26f-4edb-9ec6-f036a3f9ad3a', N'Shale Oil', N'Shale Oil', CAST(N'2020-01-30T21:11:55.9035907-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[UHCProductionMethods] ([Id], [Name], [Description], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'0c7919a2-cd95-440e-ab8c-2a4898243a06', N'Shale Gas', N'Shale Gas', CAST(N'2020-01-30T21:12:12.8758131-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[UHCProductionMethods] ([Id], [Name], [Description], [CreatedAt], [ModifiedAt], [Is_Active]) VALUES (N'15b40825-6737-4984-a7c7-3f0d51fb0085', N'Oil Shale ', N'Oil Shale ', CAST(N'2020-01-30T21:12:40.3161395-08:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 1)
GO
INSERT [dbo].[UploadFiles] ([Id], [FIleRef], [FileName], [CreatedBy], [CreatedAt], [FilePath], [NewFileName], [ModifiedAt], [Is_Active]) VALUES (N'0d2fcd86-fd8b-4fab-9008-025129c6b403', N'90f70e95-40cb-44ba-a64e-c579e176b918', N'lor19v.jpg', NULL, CAST(N'2020-03-01T23:06:18.2219963-08:00' AS DateTimeOffset), N'C:\Users\Administrator\Desktop\ERPortal\ERPortal.WebUI\Content\UploadedFiles\lor19v.jpg', NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
INSERT [dbo].[UploadFiles] ([Id], [FIleRef], [FileName], [CreatedBy], [CreatedAt], [FilePath], [NewFileName], [ModifiedAt], [Is_Active]) VALUES (N'106c8dc0-d2d9-4ac5-a734-c077e9b3fb4d', N'64e3e49f-da5d-42a6-8816-ab53d2e9004a', N'lor19v.jpg', NULL, CAST(N'2020-02-18T00:57:25.2091621-08:00' AS DateTimeOffset), N'C:\Users\Administrator\Desktop\ERPortal\ERPortal.WebUI\Content\UploadedFiles\lor19v.jpg', NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
GO
INSERT [dbo].[UserAccounts] ([Id], [EmailID], [FirstName], [LastName], [OrganisationId], [CreatedAt], [UserRole], [DeptId], [ModifiedAt], [Is_Active]) VALUES (N'2b5b6fc6-c92b-4afa-9f50-90c76df6f605', N'am@dgh.com', N'Aman', N'Narang', N'cd9a6a36-cd90-4d09-8bb5-b449d315cc9d', CAST(N'2020-02-13T23:01:39.6201156-08:00' AS DateTimeOffset), N'Consultant Enhanced Recovery', NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
INSERT [dbo].[UserAccounts] ([Id], [EmailID], [FirstName], [LastName], [OrganisationId], [CreatedAt], [UserRole], [DeptId], [ModifiedAt], [Is_Active]) VALUES (N'3de966e8-e54a-49df-952d-41c64e9aa505', N'On@gmail.com', N'Operator3', N'Narang', N'9d5f06c2-73c2-4b41-a4c0-e87830673aca', CAST(N'2020-02-20T21:10:54.0406227-08:00' AS DateTimeOffset), N'Operator', NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
INSERT [dbo].[UserAccounts] ([Id], [EmailID], [FirstName], [LastName], [OrganisationId], [CreatedAt], [UserRole], [DeptId], [ModifiedAt], [Is_Active]) VALUES (N'79d36124-ea8d-433b-8b6f-77045ea69309', N'vaibhav111@gmail.com', N'Operator2', N'Solanki', N'9d5f06c2-73c2-4b41-a4c0-e87830673aca', CAST(N'2020-02-20T21:05:38.3196088-08:00' AS DateTimeOffset), N'Operator', NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 0)
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[ERApplications] ADD  DEFAULT ((0)) FOR [HydrocarbonType]
GO
ALTER TABLE [dbo].[ERApplications] ADD  DEFAULT ((0)) FOR [HydrocarbonMethod]
GO
ALTER TABLE [dbo].[ERApplications] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[ERScreeningDetails] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[ERScreeningInstitutes] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[FieldTypes] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Organisations] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[QueryUsers] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[UHCProductionMethods] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[UploadFiles] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[UserAccounts] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuditTrails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuditTrails_dbo.UserAccounts_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[UserAccounts] ([Id])
GO
ALTER TABLE [dbo].[AuditTrails] CHECK CONSTRAINT [FK_dbo.AuditTrails_dbo.UserAccounts_ReceiverId]
GO
ALTER TABLE [dbo].[AuditTrails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuditTrails_dbo.UserAccounts_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[UserAccounts] ([Id])
GO
ALTER TABLE [dbo].[AuditTrails] CHECK CONSTRAINT [FK_dbo.AuditTrails_dbo.UserAccounts_SenderId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.ERApplications_ERApplicationId] FOREIGN KEY([ERApplicationId])
REFERENCES [dbo].[ERApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.ERApplications_ERApplicationId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.UserAccounts_UserAccountId] FOREIGN KEY([UserAccountId])
REFERENCES [dbo].[UserAccounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.UserAccounts_UserAccountId]
GO
ALTER TABLE [dbo].[ERAppActiveUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ERAppActiveUsers_dbo.UserAccounts_UserAccountId] FOREIGN KEY([UserAccountId])
REFERENCES [dbo].[UserAccounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ERAppActiveUsers] CHECK CONSTRAINT [FK_dbo.ERAppActiveUsers_dbo.UserAccounts_UserAccountId]
GO
ALTER TABLE [dbo].[ERApplications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ERApplications_dbo.ERPilots_ERPilotId] FOREIGN KEY([ERPilotId])
REFERENCES [dbo].[ERPilots] ([Id])
GO
ALTER TABLE [dbo].[ERApplications] CHECK CONSTRAINT [FK_dbo.ERApplications_dbo.ERPilots_ERPilotId]
GO
ALTER TABLE [dbo].[ERApplications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ERApplications_dbo.ERScreeningDetails_ERScreeningDetailId] FOREIGN KEY([ERScreeningDetailId])
REFERENCES [dbo].[ERScreeningDetails] ([Id])
GO
ALTER TABLE [dbo].[ERApplications] CHECK CONSTRAINT [FK_dbo.ERApplications_dbo.ERScreeningDetails_ERScreeningDetailId]
GO
ALTER TABLE [dbo].[ERApplications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ERApplications_dbo.ERTechniques_ERTechniquesId] FOREIGN KEY([ERTechniquesId])
REFERENCES [dbo].[ERTechniques] ([Id])
GO
ALTER TABLE [dbo].[ERApplications] CHECK CONSTRAINT [FK_dbo.ERApplications_dbo.ERTechniques_ERTechniquesId]
GO
ALTER TABLE [dbo].[ERApplications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ERApplications_dbo.FieldTypes_FieldTypeId] FOREIGN KEY([FieldTypeId])
REFERENCES [dbo].[FieldTypes] ([Id])
GO
ALTER TABLE [dbo].[ERApplications] CHECK CONSTRAINT [FK_dbo.ERApplications_dbo.FieldTypes_FieldTypeId]
GO
ALTER TABLE [dbo].[ERApplications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ERApplications_dbo.Organisations_OrganisationId] FOREIGN KEY([OrganisationId])
REFERENCES [dbo].[Organisations] ([Id])
GO
ALTER TABLE [dbo].[ERApplications] CHECK CONSTRAINT [FK_dbo.ERApplications_dbo.Organisations_OrganisationId]
GO
ALTER TABLE [dbo].[ERApplications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ERApplications_dbo.UHCProductionMethods_UHCProductionMethodId] FOREIGN KEY([UHCProductionMethodId])
REFERENCES [dbo].[UHCProductionMethods] ([Id])
GO
ALTER TABLE [dbo].[ERApplications] CHECK CONSTRAINT [FK_dbo.ERApplications_dbo.UHCProductionMethods_UHCProductionMethodId]
GO
ALTER TABLE [dbo].[ErrorLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ErrorLogs_dbo.UserAccounts_UserAccountId] FOREIGN KEY([UserAccountId])
REFERENCES [dbo].[UserAccounts] ([Id])
GO
ALTER TABLE [dbo].[ErrorLogs] CHECK CONSTRAINT [FK_dbo.ErrorLogs_dbo.UserAccounts_UserAccountId]
GO
ALTER TABLE [dbo].[ERScreeningDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ERScreeningDetails_dbo.ERScreeningInstitutes_ERScreeningInstituteId] FOREIGN KEY([ERScreeningInstituteId])
REFERENCES [dbo].[ERScreeningInstitutes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ERScreeningDetails] CHECK CONSTRAINT [FK_dbo.ERScreeningDetails_dbo.ERScreeningInstitutes_ERScreeningInstituteId]
GO
ALTER TABLE [dbo].[ForwardApplications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ForwardApplications_dbo.ERApplications_ERApplicationId] FOREIGN KEY([ERApplicationId])
REFERENCES [dbo].[ERApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForwardApplications] CHECK CONSTRAINT [FK_dbo.ForwardApplications_dbo.ERApplications_ERApplicationId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifications_dbo.ERApplications_ERApplicationId] FOREIGN KEY([ERApplicationId])
REFERENCES [dbo].[ERApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_dbo.Notifications_dbo.ERApplications_ERApplicationId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifications_dbo.UserAccounts_UserAccountId] FOREIGN KEY([UserAccountId])
REFERENCES [dbo].[UserAccounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_dbo.Notifications_dbo.UserAccounts_UserAccountId]
GO
ALTER TABLE [dbo].[UserAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAccounts_dbo.DepartmentTypes_DeptId] FOREIGN KEY([DeptId])
REFERENCES [dbo].[DepartmentTypes] ([Id])
GO
ALTER TABLE [dbo].[UserAccounts] CHECK CONSTRAINT [FK_dbo.UserAccounts_dbo.DepartmentTypes_DeptId]
GO
ALTER TABLE [dbo].[UserAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAccounts_dbo.Organisations_OrganisationId] FOREIGN KEY([OrganisationId])
REFERENCES [dbo].[Organisations] ([Id])
GO
ALTER TABLE [dbo].[UserAccounts] CHECK CONSTRAINT [FK_dbo.UserAccounts_dbo.Organisations_OrganisationId]
GO
