@{
    ViewBag.Title = "Dashboard Operator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header bg-gradient-info text-light">
                    <h5><i class="fas fa-table"></i> ER Screening Report Application</h5>
                </div>
                <div class="card-body">
                    <div class="card-deck ">
                        <div class="card d-flex deckdivblue" data-val="All">
                            <div class="card-body align-items-center d-flex justify-content-center text-primary">
                                <p class="card-title text-center h6"><span class="badge badge-primary mr-2 Allapp"> </span>All Application</p>
                            </div>
                        </div>
                        <div class="card d-flex  deckdivyellow" data-val="New Application">
                            <div class="card-body align-items-center d-flex justify-content-center text-warning">
                                <p class="card-title text-center h6"><span class="badge badge-warning mr-2 newapp"> </span> New Applications</p>
                            </div>
                        </div>
                        <div class="card d-flex  deckdivInfo" data-val="Under Proccessing">
                            <div class="card-body align-items-center d-flex justify-content-center text-info">
                                <div><p class="card-title text-center h6"><span class="badge badge-info mr-2 underproccessingapp"> </span>Under Proccessing</p></div>
                            </div>
                        </div>                      
                        <div class="card d-flex  deckdivgreen" data-val="Approved">
                            <div class="card-body align-items-center d-flex justify-content-center text-success">
                                <p class="card-title text-center h6"><span class="badge badge-success mr-2 approvedapp"> </span>Approved</p>
                            </div>
                        </div>
                        <div class="card d-flex deckdivred" data-val="Reject">
                            <div class="card-body align-items-center d-flex justify-content-center text-danger">
                                <p class="card-title text-center h6"><span class="badge badge-danger mr-2 rejectapp"> </span>Rejected</p>
                            </div>
                        </div>

                    </div>
                    <div class="mt-3">
                        <table class="table table-striped table-bordered nowrap" id="usertable">
                            <thead class="bg-gradient-light">
                                <tr>
                                    <th>Application Id</th>
                                    <th>Field Type</th>
                                    <th>Field Name</th>
                                    <th>Organisation</th>
                                    <th>Created Date</th>
                                    <th>Approval Letter</th>
                                    <th>App Status</th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(()=> {
        UserTableData();
      
    });  
    var table;
    const UserTableData = () => {
        $.ajax({
            url: "@Url.Action("OperatorDashboard","Operator")",
            type: 'POST',
            async: false,
            beforeSend: function (xhr) {
                // alert('before');
                // xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
            },
            success: (result) => {
                let dd = "";
                let status = "";
                let newappcount = 0;
                let approvalappcount = 0;
                let rejectappcount = 0;
                let underproccessingappcount = 0;
                let pendingappcount = 0;
                let totalappcount = 0;


                for (let e of result) {
                    let files = "";
                    if (e.ApprovalLetter != null) {

                        for (let e1 of e.ApprovalLetter) {

                            files += '<a class="btn btn-sm btn-primary text-truncate" style="max-width: 120px;" href="../Content/UploadedFiles/' + e1.FileName + '" target="_blank"><i class="fas fa-file-download"></i> ' + e1.FileName + '</a>';
                        };
                    }
                    status = e.Status == "AP" ? "<kbd class='bg-success'>Approved</kbd>"
                        : e.Status == "NA" ? "<kbd class='bg-warning'>New Application</kbd>"
                            : e.Status == "PWM" ? "<kbd class='bg-dark'>Pending With Me</kbd>"
                                : e.Status == "UP" ? "<kbd class='bg-info'>Under Proccessing</kbd>"
                                    : "<kbd class='bg-Warning'></kbd>";

                    e.Status == "AP" ? approvalappcount++
                        : e.Status == "NA" ? newappcount++
                            : e.Status == "PWM" ? pendingappcount++
                                : e.Status == "UP" ? underproccessingappcount++
                                    : 0;

                    totalappcount = approvalappcount + newappcount + pendingappcount + underproccessingappcount;
                    dd += `<tr><td><a href='@Url.Action("SubmitERProposal","Operator")?appid=${e.AppId}'>
                        ${e.AppId}</a></td><td> ${e.FieldType.Type}</td><td>${e.FieldName}</td><td>
                        ${e.Organisation.Name}</td><td>${ToChangeDateFormate(e.CreatedAt)}</td><td>${files}</td><td>${status}</td></tr>`;
                };

                $("#usertable tbody").html(dd);
                $('.newapp').html(newappcount);
                $('.underproccessingapp').html(underproccessingappcount);
                $('.rejectapp').html(rejectappcount);
                $('.approvedapp').html(approvalappcount);
                $('.Allapp').html(totalappcount);
                table = $('#usertable').DataTable(
                    {
                        scrollY: '50vh',
                        scrollCollapse: true,
                        paging: true,
                        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                        //processing: true,
                        // deferLoading: 5
                    })
                console.log(result);
            },
            error: () => {
                alertModal("Something Went Wrong. Try Again Later");
            },
            fail: (xhr, textStatus, errorThrown) => {
                alertModal("Something Went Wrong. Try Again Later");
            }


        }).done();
    };

    const statusAll = "All";
    const statusAP = "Approved";
    const statusNA = "New Application";
    const statusUP = "Under Proccessing";
    const statusPWM = "Pending With Me";
    const statusRJ = "Reject";    
    const filterData = {type:"Status",statustext:statusAll};    
    
    $(document).on('click', '.card-deck .card', ({currentTarget }) => {  
        let DatasetAttrVal =  currentTarget.dataset;        
        filterData.statustext = DatasetAttrVal.val;
        filterData.type = "Status";
        table.draw();
    });  
    $.fn.dataTable.ext.search.push((settings, data, dataIndex)=> {
        switch (filterData.type) {
            case "Status":
                Status = data[6];
                filterData.statustext = filterData.statustext == statusAll ? "" : filterData.statustext;
                return Status == filterData.statustext || filterData.statustext == "" ? true : false;
            default: return false;
        }
      
    })      
    
</script>