<div class="jumbotron">
    <h1 class="display-4">Hello, User!</h1>
    <hr class="my-4">
    <p>You have no new updates</p>
</div>
<div style="padding-top:50px;">
    <div class="card-deck">
        <div class="card d-flex rounded-pill bg-success">
            <div class="card-body align-items-center d-flex justify-content-center">
                <h5 class="card-title">@Html.ActionLink("Submit ER Proposal", "SubmitERProposal", "Operator", null, new { @class = "text-white" })</h5>
            </div>
        </div>
        <div class="card d-flex rounded-pill text-white bg-primary">
            <div class="card-body align-items-center d-flex justify-content-center">
                <h5 class="card-title">View Submitted Proposals</h5>
            </div>
        </div>
    </div>
</div>  