@{
    Layout = null;
}
 

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DGH, India ER Application Management portal">
    <meta name="author" content="DGH IT Team">
    <link rel="icon" href="~/Content/img/favicon.ico">

    <title>Login | DGH ERPortal</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
        body {
            background: url(/Content/img/background_pic.jpg) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/Content/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    @using (Html.BeginForm("Login", "Account",FormMethod.Post, new
{
    @class = "card form-signin",
    style = "background-color:rgba(245, 245, 245, 0.7);"
}))
    {
    @Html.AntiForgeryToken()
    <img class="mb-4" src="~/Content/img/Icon_Design_trans.png" alt="" width="300">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUserName" class="sr-only"></label>
    <input type="text" id="UserName" name="UserName" class="form-control" placeholder="UserName " required autofocus>
    <br />
    @*<label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="Email" name="Email" class="form-control" placeholder="Email address" required autofocus>
    <br />*@
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019 DGH</p>

    }

</body>
</html>
